
{% extends "base.html" %}

{% load static %}

{% block link %}

{% endblock link %}

{% block content %}

<!-- Masthead-->
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-3 bg-image-full" style="background-image: url('{% static 'assets/img/nasa-2.jpg' %}')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/img/ea.gif' %}" alt="..."/>
        <h1 class="text-white fs-3 fw-bolder">Data Upload Page</h1>
        <p class="text-white-50 mb-0">Upload Forms</p>
    </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="h5 text-mute mb-4" style="font-family: 'Bradley Hand ITC'">technology innovation</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">Maximise your products visibility and customer shopping convenience with our
                    e-commerce high-performance platform that ensures higher returns.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-success"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Responsive Design</h4>
                <p class="text-muted">Our design approach ensures web pages automatically adapt to fit any screen size,
                    from mobile phones to desktops, providing an optimal user experience.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-danger"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Web Security</h4>
                <p class="text-muted">Enhance protection for your websites and web applications from cyberattacks,
                    unauthorized access, and data breaches using best industry practices.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; LCT Technologies Limited 2026</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="mailto:lct.technologies@hotmail.com" aria-label="Email"><i
                        class="far fa-envelope-open"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="tel:+2348055977307" aria-label="Call"><i
                        class="fas fa-phone"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="sms:+2348023070801" aria-label="Chat"><i
                        class="far fa-comment-dots"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">

                <img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal"/>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Data Analytics</h2>
                            <p class="item-intro text-muted">Collecting, cleaning, and examining of raw data to identify
                                patterns, trends, and insights that inform better decision-making.</p>
                            <div class="d-block mx-auto">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart - Dashboard
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myAreaChart" width="100%" height="40"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!--                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/1.jpg' %}" alt="..." />-->
                            <p>A graphical interactive tool that centralizes, monitors, and analyzes key performance
                                indicators (KPIs) and data from multiple sources in real time. By transforming complex
                                data into charts, graphs, and tables, it enables data-driven decision-making, trend
                                spotting, and performance tracking.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Applications :</strong>
                                    Healthcare (patient outcomes), Finance (fraud detection), Marketing (consumer
                                    trends), and Cybersecurity.
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Data Analytics
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">E-Commerce</h2>
                            <p class="item-intro text-muted">Covering online retail, marketplaces, and digital
                                transactions.</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/g2p.jpg' %}"
                                 alt="..."/>
                            <p>Operate a 24/7 retail shop, providing global reach and at lower overhead costs compared
                                to traditional retail.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Explore
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Graphic Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Search Engine Optimization</h2>
                            <p class="item-intro text-muted">SEO one of the most powerful digital marketing
                                strategies.</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/g3p.png' %}"
                                 alt="..."/>
                            <p>SEO, or Search Engine Optimization, is the practice of enhancing your website's
                                visibility on search engines to increase organic traffic and improve online
                                presence.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Application:</strong>
                                    Crawling, indexing, and ranking
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Digital Marketing
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Network Infrastructure</h2>
                            <p class="item-intro text-muted">LCT Technologies core service delivery.</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/g4p.jpg' %}"
                                 alt="..."/>
                            <p>LCT Technologies Limited implements well-planned network infrastructure designed for
                                security, scalability, and high-speed data flow to ensure efficient operations of
                                clients information systems. </p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Applications:</strong>
                                    Data warehouse, Smart homes and offices
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Networking, structured cabling, system integration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Website Design</h2>
                            <p class="item-intro text-muted">Modern Website Design Trends & Best Practices.</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'assets/img/portfolio/website-design.jpg' %}"
                                 alt="..."/>
                            <p>Our Website design strategy encompasses enhancing user experience, simplified layout, and
                                appetising visual aesthetics, focusing on creating responsive, intuitive, and engaging
                                interfaces for desktop and mobile devices. Effective design involves establishing goals,
                                creating wireframes, selecting color schemes/typography, and implementing responsive
                                layouts that align with brand identity to increase engagement</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Application:</strong>
                                    General
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Website Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">IT Support Services</h2>
                            <p class="item-intro text-muted">Access to specialized technicians without the cost of
                                hiring full-time, in-house experts.</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/g5.jpg' %}"
                                 alt="..."/>
                            <p>We provide technical assistance, maintenance, and management for hardware, software, and
                                networks to ensure business continuity and minimize downtime. These services range from
                                help desk troubleshooting and remote support to proactive cybersecurity management and
                                managed IT infrastructure.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Application:</strong>
                                    General Support Services
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Consultancy
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'dashboard/assets/demo/chart-area-demo.js' %}"></script>
<!--        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>-->

{% endblock %}